.wrapper {
  width: 900px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.textarea {
  display: block;
  width: 700px;
  height: 200px;
  margin: 10px auto 10px;
  padding: 10px;
  font-size: 18px;
  color: #444444;
}

.keyboard {
  margin: 0 auto;
  width: 700px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: bisque;
}

.row {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  border: solid red 2px;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.key {
  display: block;
  height: 40px;
  width: 40px;
  border: solid green 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.key:active {
  background-color: green;
  border-radius: 40px;
}

.backspace {
  width: 75px;
}

.tab {
  width: 70px;
}

.Enter,
.Caps {
  width: 80px;
}

.LeftShift {
  width: 65px;
}

/* .RightShift {
  width: 55px;
} */

/* .right-shift {
  width: 85px;
} */

.Space {
  flex-grow: 5;
}

.hidden {
  display: none;
}